fastapi
uvicorn
sqlalchemy
pymysql
pydantic
python-dotenv
bcrypt==4.0.1
passlib
python-jose
numpy
pandas
scikit-learn
joblib
polars
pyarrow
pyjwt
lightgbm==3.3.5
holidays
httpx
openai
gunicorn
watchfiles